@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  }

  .card:hover .progress-bar {
    background-color: #fbd786;
    color: black;
}